@{
    ViewData["Title"] = "View";
}
<h1>View</h1>
<ul>
    <li><a href="@Url.Action("Wizard", "Home")">Sample Wizard</a></li>

    <li><a href="@Url.Action("Index","OverrideLocalizedField")">Field Admin Override</a></li>
    @*<li><a href="@Url.Action("Wizard","OverrideLocalizedField")">Wizard Admin Override</a></li>*@
    <li><a href="@Url.Action("Index","OverrideModularWizardAdmin")">Wizard Admin Override</a></li>
    <li><a href="@Url.Action("Email","OverrideLocalizedField")">Email Admin Override</a></li>
    <li><a href="@Url.Action("Index","OverrideLocalizedDataItems")">Data Items Override</a></li>
    <li><a href="@Url.Action("Language","OverrideLocalizedDataItems")">Language Admin</a></li>
</ul>
