@model Jlw.LocalizedContent.Areas.ModularWizardEmailAdmin.Controllers.AdminController.WizardAdminSettings
<div class="row jlw-dtlist-wizardemail"> 
    <div class="col-sm-12"> 
        <table class="jlw-datatable jlw-datatable-wizardemail @Model?.DataTableClass" @(Model?.DataTablePaging ?? false ? "" : "data-paging=false ")@(Model?.DataTableSearch ?? false ? "" : "data-searching=false ")@(Model?.DataTableInfo ?? false ? "" : "data-info=false ")@(Model?.DataTableAttributes) width="100%"> 
            <thead> 
                <tr>
                    <th data-data="Id" data-visible="false" class="d-none">Id</th> 
                    <th data-data="GroupKey" @Html.Raw(Model?.ShowGroup ?? false ? "" : "data-visible=\"false\" class=\"d-none\"")>Group Key</th> 
                    <th data-data="FieldKey" @Html.Raw(Model?.ShowFieldName ?? false ? "" : "data-visible=\"false\" class=\"d-none\"")>Field Key</th> 
                    <th data-data="FieldType" data-visible="false" class="d-none">Field Type</th> 
                    <th data-data="Email" data-visible="false" @Html.Raw(Model?.ShowKey ?? false ? "" : "data-visible=\"false\" class=\"d-none\"")>Email</th> 
                    <th data-data="FieldClass" data-visible="false" class="d-none" >Field Class</th> 
                    <th data-data="ParentKey" @Html.Raw(Model?.ShowParent ?? false ? "" : "data-visible=\"false\" class=\"d-none\"")>Parent Key</th> 
                    <th data-data="Language" @Html.Raw(Model?.ShowLanguage ?? false ? "" : "data-visible=\"false\" class=\"d-none\"")>Language</th> 
                    <th data-data="DefaultLabel" data-visible="false" class="d-none" >Description</th> 
                    <th data-data="Label" data-visible="false" class="d-none"  >Label</th> 
                    <th data-data="Subject" data-visible="false" class="d-none"  >Subject</th> 
                    <th data-data="Body">Email Info</th> 
                    <th data-data="WrapperClass" data-visible="false" class="d-none" >Wrapper Class</th> 
                    <th data-data="WrapperHtmlStart" data-visible="false" class="d-none" >Wrapper Html Start</th> 
                    <th data-data="WrapperHtmlEnd" data-visible="false" class="d-none" >Wrapper Html End</th> 
                    <th data-data="AuditChangeType" data-visible="false" class="d-none" >Audit Change Type</th> 
                    <th data-data="AuditChangeBy" data-visible="false" class="d-none" >Audit Change By</th> 
                    <th data-data="AuditChangeDate" data-visible="false" class="d-none" >Audit Change Date</th> 
                    <th data-data="Order" data-visible="false" class="d-none" >Order</th> 
                    <th data-sortable="false" width="150">&nbsp;</th>
                </tr> 
            </thead> 
            <tbody></tbody> 
        </table> 
    </div> 
</div> 
