@using Microsoft.Extensions.DependencyInjection
@model Jlw.Web.Rcl.LocalizedContent.Areas.ModularWizardEmailAdmin.Controllers.AdminController.WizardAdminSettings
@{
    ViewData["Title"] = Model.PageTitle ?? ViewData["PageTitle"];
	string version = Model.Version;
    string jsRoot = "LocalizedContent";
}
@section Style
{
	<style>
        .email-body {
	        max-height: 10em;
	        overflow-y: auto;
        }
	</style>
	@Html.Raw(Model.ExtraCss)
}
@section Scripts {
    @Html.Raw(Model.ExtraScript)
    <script src="@Url.Content($"~/{jsRoot}/tinymce/tinymce.min.js?_v={version}")"></script>
    <script>

        function jlwDefer(fnCb) {
            if (typeof fnCb != 'function')
                return;
            if (window.jQuery && window.jlwUtility) {
                fnCb();
            } else {
                window.setTimeout(function() { jlwDefer(fnCb); }, 50);
            }
        }

        (function(cacheVer) {
            function onPageLoadInit() {
                function fnInit() {
                    window.jlwUtility.showPleaseWait();
                    $('head').append($('<link rel="stylesheet" type="text/css" />').attr('href', "@Url.Content($"~/{jsRoot}/css/dataTables.bootstrap5.min.css?_v={version}")"));
                    $('head').append($('<link rel="stylesheet" type="text/css" />').attr('href', "@Url.Content($"~/{jsRoot}/css/toastr.min.css?_v={version}")"));
                    $.when(
                        window.jlwUtility.lazyLoadLibrary(jQuery.fn.DataTable,"@Url.Content($"~/{jsRoot}/js/jquery.dataTables.min.js?_v={version}")"),
                        window.jlwUtility.lazyLoadLibrary(window.libJlwAppBuilder, "@Url.Content($"~/{jsRoot}/js/libJlwAppBuilder.min.js?_v={version}")"),
                        window.jlwUtility.lazyLoadLibrary(window.bootbox, "@Url.Content($"~/{jsRoot}/js/bootbox.min.js?_v={version}")"),
                        window.jlwUtility.lazyLoadLibrary(window.fontawesome, "@Url.Content($"~/{jsRoot}/font-awesome/js/fontawesome.min.js?_v={version}")"),
                        window.jlwUtility.lazyLoadLibrary(window.fontawesome, "@Url.Content($"~/{jsRoot}/font-awesome/js/solid.min.js?_v={version}")"),
                        window.jlwUtility.lazyLoadLibrary(window.toastr, "@Url.Content($"~/{jsRoot}/js/toastr.min.js?_v={version}")")
                    ).done(function() {
                        bootbox.setDefaults({ centerVertical: true, scrollable: true });

                        window.jlwLibLocalizedContentField();
                        window.jlwUtility.hidePleaseWait();

                    });
                }

                if (typeof window.jlwUtility == 'undefined') {
                    window.jlwUtility = new window.libJlwUtility({
                        'cacheVersion': cacheVer,
                        'libPaths': {},
                        'fnInit': window.setTimeout(fnInit, 10)
                    });
                } else {
                    fnInit();
                }
            };


            if (typeof libJlwUtility == 'undefined') {
                var headTag = document.getElementsByTagName("head")[0];
                var jqTag = document.createElement('script');
                jqTag.type = 'text/javascript';
                jqTag.src = '@Url.Content($"~/{jsRoot}/js/libJlwUtility.min.js")?_v=' + cacheVer;
                jqTag.onload = onPageLoadInit;
                headTag.appendChild(jqTag);
            } else {
                onPageLoadInit();
            }
        })('@version');
    </script>
}
<div class="col-xs-12">
    <div>
        @if (Model?.CanInsert ?? false)
        {
            <button class="float-end btn btn-sm btn-primary btn-newrecord"><span class="fa fa-plus"></span> Add New Record</button>
        }
        <div class="jlw-header h3">
            @Model.PageTitle
        </div>
    </div>
    <br />
    @Html.PartialAsync(Model.DataTableListView).Result
</div>
<div class="d-none hidden">
	@Html.PartialAsync(Model.EditView).Result
</div>
@Html.PartialAsync(Model.DataTableScriptView).Result
