@inject ICommonControlListModel ControlList
@using Jlw.ModularContent
@model ModularWizardAdminSettings
<div id="rightToolbar" class="col right-toolbar open p-0 flex-column">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button id="fieldproperties-tab" class="nav-link p-0 px-2 active" data-bs-target="#fieldproperties-pane" data-bs-toggle="tab" role="tab" aria-controls="fieldproperties-pane"><small>Field</small></button>
        </li>
        <li class="nav-item" role="presentation">
            <button id="wrapperproperties-tab" class="nav-link p-0 px-2" data-bs-target="#wrapperproperties-pane" data-bs-toggle="tab" role="tab" aria-controls="wrapperproperties-pane"><small>Wrapper</small></button>
        </li>
        <li class="nav-item" role="presentation">
            <button id="properties-tab" class="nav-link p-0 px-2" data-bs-target="#properties-pane" data-bs-toggle="tab" role="tab" aria-controls="properties-pane" aria-selected="true"><small>Advanced</small></button>
        </li>
    </ul>
    <div class="bg-light h-100 border border-top-0 overflow-auto">
        <div class="tab-content h-100">

            <div id="fieldproperties-pane" class="tab-pane fade show active h-100 p-1" role="tabpanel" aria-labelledby="advproperties-tab">
	            <input name="Id" type="hidden" class="form-control form-control-sm w-100"/>
	            <input name="GroupKey" type="hidden" class="form-control form-control-sm w-100"/>
	            <input name="Order" type="hidden" class="form-control form-control-sm w-100"/>
	            <input name="ParentKey" type="hidden" class="form-control form-control-sm w-100"/>
				<div style="height: 1px; font-size: small;">
				<div class="card common-card d-none mb-2">
					<div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-hidecaret="left" data-showcaret="down" data-bs-toggle="collapse" role="button" data-bs-target="#collapseCommonProperties" aria-expanded="true" aria-controls="collapseCommonProperties">
						<small class="font-weight-bold">Field Properties</small>
						<span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
					</div>
					<div class="collapse show" id="collapseCommonProperties">
						<div class="card-body px-2 pt-1 pb-2">
							<div class="form-floating field-name my-1">
								<input name="FieldKey" type="text" class="form-control form-control-sm w-100" placeholder="Name"/>
								<label>Name</label>
							</div>
							<div class="form-floating field-type input-group input-group-sm mb-1">
								<select name="FieldType" class="form-select form-select-sm" disabled="disabled" placeholder="">
									<option></option>
									<option value="@nameof(WizardFieldTypes.BUTTON)">Button</option>
									<option value="@nameof(WizardFieldTypes.EMBED)">Embed Form</option>
									<option value="@nameof(WizardFieldTypes.FORM)">Form</option>
									<option value="@nameof(WizardFieldTypes.INPUT)">Form Input</option>
									<option value="@nameof(WizardFieldTypes.HTML)">HTML Text Block</option>
									<option value="@nameof(WizardFieldTypes.BODY)">Page Body</option>
									<option value="@nameof(WizardFieldTypes.HEADING)">Page Heading</option>
									<option value="@nameof(WizardFieldTypes.SEPARATOR)">Horizontal Separator Bar</option>
									<option value="@nameof(WizardFieldTypes.VSEPARATOR)">Vertical Separator Bar</option>
									<option value="@nameof(WizardFieldTypes.SELECT)">Form Drop-down</option>
									<option value="@nameof(WizardFieldTypes.TEXTAREA)">Text Area</option>
									<option value="@nameof(WizardFieldTypes.WIZARD)">Wizard</option>
									<option value="@nameof(WizardFieldTypes.SCREEN)">Wizard Screen</option>
									<option value="@nameof(WizardFieldTypes.CUSTOM)">Custom Control</option>
								</select>
								<label>Field Type</label>
								<button id="field-type-edit" class="btn btn-outline-warning border-secondary text-dark py-0"><small><span class="fa fa-edit"></span></small></button>
							</div>
							<div class="form-floating field-class">
								<input name="FieldClass" type="text" class="form-control form-control-sm w-100"/>
								<label>Field Class</label>
							</div>
						</div>
					</div>
				</div>

				<div class="card label-card d-none mb-2 ">
					<div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseLabelProperties" aria-expanded="true" aria-controls="collapseLabelProperties">
						<small class="font-weight-bold">Label Properties</small>
						<span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
					</div>
					<div class="collapse show" id="collapseLabelProperties">
						<div class="card-body px-2 pt-1 pb-2">
	                                
							<div class="form-floating field-label input-group input-group-sm my-1">
								<input name="DefaultLabel" type="text" class="form-control form-control-sm bg-transparent" placeholder="">
								<label>Default Label</label>
								<button id="btn-update-language" class="btn btn-outline-primary border-secondary py-0" type="button"><span class="fa fa-language"></span></button>
							</div>
							<div class="form-floating label-class mb-1">
								<input name="LabelClass" type="text" class="form-control form-control-sm w-100"/>
								<label>Label Class</label>
							</div>
							<div class="form-check form-switch fs-6">
								<input type="checkbox" role="switch" class="form-check-input" id="hideLabel" />
								<label class="form-check-label" for="hideLabel"><small>Hide Label</small></label>
							</div>
						</div>
					</div>
				</div>

                    <div class="card input-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseInputProperties" aria-expanded="true" aria-controls="collapseInputProperties">
                            <small class="font-weight-bold">Input Properties</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseInputProperties">
                            <div class="card-body px-2 pt-1 pb-2">
                                <div class="form-floating input-type my-1">
	                                <select name="InputType" class="form-select form-select-sm w-100" asp-items="ControlList.Items">
		                                <option></option>
	                                </select>
	                                <label>Input Type</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card button-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseButtonProperties" aria-expanded="true" aria-controls="collapseButtonProperties">
                            <small class="font-weight-bold">Button Properties</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseButtonProperties">
                            <div class="card-body px-2 pt-1 pb-2">
                                <div class="form-floating button-style my-1">
                                    <select name="buttonStyle" class="form-select form-select-sm w-100">
                                        <option></option>
                                        <option value="primary" class="bg-primary text-light py-2">Primary</option>
                                        <option value="secondary" class="bg-secondary text-light py-2">Secondary</option>
                                        <option value="success" class="bg-success text-light py-2">Success</option>
                                        <option value="danger" class="bg-danger text-light py-2">Danger</option>
                                        <option value="warning" class="bg-warning text-dark py-2">Warning</option>
                                        <option value="info" class="bg-info text-light py-2">Info</option>
                                        <option value="light" class="bg-light text-dark py-2">Light</option>
                                        <option value="dark" class="bg-dark text-light py-2">Dark</option>
                                        <option value="link" class="text-primary py-2">Link</option>
                                    </select>
	                                <label>Button Style</label>
                                </div>
                                <div class="form-floating button-icon my-1">
                                    <div class="dropdown form-select form-select-sm">
                                        <button class="btn w-100 text-left" type="button" id="dropdownButtonIcon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="btn-label">[ none ]</span>@*<span class="dropdown-toggle float-end"></span>*@</button>
                                        <div class="dropdown-menu w-100 overflow-auto" style="max-height: 60vh;" aria-labelledby="dropdownButtonIcon">
                                        </div>
                                    </div>
                                    <label for="dropdownButtonIcon">Button Icon</label>
                                    <div class="d-none">
                                        <select name="buttonIcon" class="form-control form-control-sm w-100">
                                            <option value="">[ none ]</option>
                                            <option value="fa-arrow-down">Arrow (down)</option>
                                            <option value="fa-arrow-left">Arrow (left)</option>
                                            <option value="fa-arrow-right">Arrow (right)</option>
                                            <option value="fa-arrow-up">Arrow (up)</option>
                                            <option value="fa-long-arrow-alt-down">Arrow (alternate down)</option>
                                            <option value="fa-long-arrow-alt-left">Arrow (alternate left)</option>
                                            <option value="fa-long-arrow-alt-right">Arrow (alternate right)</option>
                                            <option value="fa-long-arrow-alt-up">Arrow (alternate up)</option>
                                            <option value="fa-ban">Ban</option>
                                            <option value="fa-bus">Bus</option>
                                            <option value="fa-calendar">Calendar</option>
                                            <option value="fa-check">Check</option>
                                            <option value="fa-check-circle">Check (circle)</option>
                                            <option value="fa-cog">Cog</option>
                                            <option value="fa-cogs">Cogs</option>
                                            <option value="fa-comment">Comment</option>
                                            <option value="fa-comment-alt">Comment (alternate)</option>
                                            <option value="fa-cloud-download-alt">Download</option>
                                            <option value="fa-edit">Edit</option>
                                            <option value="fa-envelope">Envelope</option>
                                            <option value="fa-exclamation">Exclamation</option>
                                            <option value="fa-exclamation-circle">Exclamation (circle)</option>
                                            <option value="fa-exclamation-triangle">Exclamation (triangle)</option>
                                            <option value="fa-file">File</option>
                                            <option value="fa-file-alt">File (alternate)</option>
                                            <option value="fa-file-archive">File (archive)</option>
                                            <option value="fa-file-csv">File (csv)</option>
                                            <option value="fa-file-excel">File (excel)</option>
                                            <option value="fa-file-export">File (export)</option>
                                            <option value="fa-file-import">File (import)</option>
                                            <option value="fa-file-pdf">File (pdf)</option>
                                            <option value="fa-home">Home</option>
                                            <option value="fa-info">Info</option>
                                            <option value="fa-info-circle">Info (circle)</option>
                                            <option value="fa-minus">Minus</option>
                                            <option value="fa-plus">Plus</option>
                                            <option value="fa-pen">Pen</option>
                                            <option value="fa-pencil-alt">Pencil</option>
                                            <option value="fa-phone">Phone</option>
                                            <option value="fa-question">Question</option>
                                            <option value="fa-question-circle">Question (circle)</option>
                                            <option value="fa-redo-alt">Redo</option>
                                            <option value="fa-reply">Reply</option>
                                            <option value="fa-save">Save</option>
                                            <option value="fa-search">Search</option>
                                            <option value="fa-share">Share</option>
                                            <option value="fa-thumbs-down">Thumbs down</option>
                                            <option value="fa-thumbs-up">Thumbs up</option>
                                            <option value="fa-times">Times</option>
                                            <option value="fa-times-circle">Times (circle)</option>
                                            <option value="fa-tools">Tools</option>
                                            <option value="fa-trash">Trash</option>
                                            <option value="fa-trash-alt">Trash (alternate)</option>
                                            <option value="fa-undo-alt">Undo</option>
                                            <option value="fa-university">University</option>
                                            <option value="fa-user">User</option>
                                            <option value="fa-wrench">Wrench</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-floating button-icon-color">
                                    <select id="buttonIconColor" name="buttonIconColor" class="form-select form-select-sm w-100">
                                        <option value="">[ Default ]</option>
                                        <option value="text-primary" class="text-primary py-2">Primary</option>
                                        <option value="text-secondary" class="text-secondary py-2">Secondary</option>
                                        <option value="text-success" class="text-success py-2">Success</option>
                                        <option value="text-danger" class="text-danger py-2">Danger</option>
                                        <option value="text-warning" class="text-warning py-2">Warning</option>
                                        <option value="text-info" class="text-info py-2">Info</option>
                                        <option value="text-light" class="text-light py-2">Light</option>
                                        <option value="text-dark" class="text-dark py-2">Dark</option>
                                    </select>
	                                <label for="buttonIconColor">Icon Color</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="buttonOutline" id="buttonOutline">
                                    <label class="custom-control-label" for="buttonOutline">Use Button Outline</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="buttonBlock" id="buttonBlock">
                                    <label class="custom-control-label" for="buttonBlock">Use Button Block</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="buttonH100" id="buttonH100">
                                    <label class="custom-control-label" for="buttonH100">100% Height</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card button-card d-none mb-2 ">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseButtonAction" aria-expanded="true" aria-controls="collapseButtonAction">
                            <small class="font-weight-bold">Button Action</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseButtonAction">
                            <div class="card-body px-2 pt-1 pb-2">

                                <div class="form-floating button-action-type my-1">
                                    <select id="buttonActionType" name="buttonActionType" class="form-select form-select-sm w-100">
                                        <option value=""></option>
                                        <option value="navtostep">Navigate to Section/Step</option>
                                        <option value="nav">Navigate to Screen</option>
                                        <option value="link">Link to URL</option>
                                        <option value="savestep">Save Section/Step Data</option>
                                        <option value="save">Save Screen Data</option>
                                        <option value="back">Back to Previous Step</option>
                                    </select>
	                                <label for="buttonActionType">Action Type</label>
                                </div>
                                <div class="form-group row mt-2 d-none button-action-opts button-action-navtostep button-action-savestep">
                                    <label class="col-7 col-form-label col-form-label-sm">Section</label>
                                    <div class="col-5">
                                        <input name="buttonActionSection" type="number" class="form-control form-control-sm w-100"/>
                                    </div>
                                </div>
                                <div class="form-group row mt-2 d-none button-action-opts button-action-navtostep button-action-savestep">
                                    <label class="col-7 col-form-label col-form-label-sm">Step</label>
                                    <div class="col-5">
                                        <input name="buttonActionStep" type="number" class="form-control form-control-sm w-100"/>
                                    </div>
                                </div>
                                <div class="form-floating d-none button-action-opts button-action-nav button-action-save">
                                    <select id="buttonActionScreen" name="buttonActionScreen" class="form-select form-select-sm w-100">
                                        <option value=""></option>
                                    </select>
                                    <label for="buttonActionScreen">Screen Name</label>
                                </div>
                                <div class="form-floating d-none button-action-opts button-action-link">
                                    <input id="buttonActionUrl" name="buttonActionUrl" type="string" class="form-control form-control-sm w-100" />
                                    <label for="buttonActionUrl">Url</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card embed-card d-none mb-2 ">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseEmbedProperties" aria-expanded="true" aria-controls="collapseEmbedProperties">
                            <small class="font-weight-bold">Embed Form Properties</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseEmbedProperties">
                            <div class="card-body px-2 pt-1 pb-2">

	                            <div class="form-floating embed-screen my-1">
		                            <input name="EmbedScreen" type="text" class="form-control form-control-sm w-100"/>
		                            <label>Screen</label>
	                            </div>
	                            <div class="form-floating embed-form my-1">
		                            <input name="EmbedForm" type="text" class="form-control form-control-sm w-100"/>
		                            <label>Form</label>
	                            </div>
	                            <div class="form-check form-switch fs-6">
		                            <input type="checkbox" role="switch" class="form-check-input" id="hasEditButton" />
		                            <label class="form-check-label" for="hasEditButton"><small>Has Edit Button</small></label>
	                            </div>
	                            <div class="form-check form-switch fs-6">
		                            <input type="checkbox" role="switch" class="form-check-input" id="isDisabled" />
		                            <label class="form-check-label" for="isDisabled"><small>Disabled</small></label>
	                            </div>
	                            <div class="form-check form-switch fs-6">
		                            <input type="checkbox" role="switch" class="form-check-input" id="useEmbedCardLayout" />
		                            <label class="form-check-label" for="useEmbedCardLayout"><small>Use Card Layout</small></label>
	                            </div>


                            </div>
                        </div>
                    </div>
	                    

					<div class="card form-card d-none mb-2 ">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseFormProperties" aria-expanded="true" aria-controls="collapseFormProperties">
                            <small class="font-weight-bold">Form Properties</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseFormProperties">
	                        <div class="card-body px-2 pt-1 pb-2">
                                
		                        <div class="form-check form-switch fs-6">
			                        <input type="checkbox" role="switch" class="form-check-input" id="useCardLayout" />
			                        <label class="form-check-label" for="useCardLayout"><small>Use Card Layout</small></label>
		                        </div>

	                        </div>
                        </div>
                    </div>

                    <div class="card common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseFieldPadding" aria-expanded="true" aria-controls="collapseFieldPadding">
                            <small class="font-weight-bold">Padding</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseFieldPadding" data-updates="input[name=FieldClass]" data-breakpoint="input[name=FieldPaddingBreakpoint]">
                            <div class="card-body px-2 pt-2 pb-0">
                                <div class="form-group ">
                                    <div>
                                        <div class="btn-group btn-group-sm pb-2 w-100" role="group">
                                            <input type="radio" id="field-padding-responsive" class="btn-check" name="FieldPaddingBreakpoint" data-container="#collapseFieldPadding" value="" autocomplete="off" checked title="Responsive" />
                                            <label for="field-padding-responsive" class="btn btn-outline-primary p-0">&nbsp;&nbsp;*&nbsp;&nbsp;</label>

                                            <input type="radio" id="field-padding-sm" class="btn-check" name="FieldPaddingBreakpoint" data-container="#collapseFieldPadding" value="-sm" autocomplete="off" />
                                            <label for="field-padding-sm" class="btn btn-outline-primary p-0">&nbsp;SM&nbsp;</label>

                                            <input type="radio" id="field-padding-md" class="btn-check" name="FieldPaddingBreakpoint" data-container="#collapseFieldPadding" value="-md" autocomplete="off" />
                                            <label for="field-padding-md" class="btn btn-outline-primary p-0">&nbsp;MD&nbsp;</label>

                                            <input type="radio" id="field-padding-lg" class="btn-check" name="FieldPaddingBreakpoint" data-container="#collapseFieldPadding" value="-lg" autocomplete="off" />
                                            <label for="field-padding-lg" class="btn btn-outline-primary p-0">&nbsp;LG&nbsp;</label>

                                            <input type="radio" id="field-padding-xl" class="btn-check" name="FieldPaddingBreakpoint" data-container="#collapseFieldPadding" value="-xl" autocomplete="off" />
                                            <label for="field-padding-xl" class="btn btn-outline-primary p-0">&nbsp;XL&nbsp;</label>

                                            <input type="radio" id="field-padding-xxl" class="btn-check" name="FieldPaddingBreakpoint" data-container="#collapseFieldPadding" value="-xxl" autocomplete="off" />
                                            <label for="field-padding-xxl" class="btn btn-outline-primary p-0">&nbsp;XXL&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix mb-1">
                                    <button class="btn btn-sm float-start w-25 text-left btn-toggle-thumb" type="button" data-bs-toggle="collapse" data-hidecaret="right" data-showcaret="down" data-bs-target="#collapseFieldPaddingExt" aria-expanded="false" aria-controls="collapseFieldPaddingExt"><span class="fa fa-caret-right fa-fw"></span></button>
                                    <input type="range" class="form-range w-50 my-1 d-inline-block padding-p" value="-1" name="PaddingSize" data-side="p" data-container="#collapseFieldPadding" min="-1" max="6">
                                    <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                </div>
                                <div class="collapse" id="collapseFieldPaddingExt">
                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Top</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block padding-pt padding-py padding-p" value="-1" data-side="pt" data-container="#collapseFieldPadding" name="PaddingSizeTop" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Right</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block padding-pr padding-px padding-p" value="-1" data-side="pr" data-container="#collapseFieldPadding" name="PaddingSizeRight" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Bottom</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block padding-pb padding-py padding-p" value="-1" data-side="pb" data-container="#collapseFieldPadding" name="PaddingSizeBottom" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Left</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block padding-pl padding-px padding-p" value="-1" data-side="pl" data-container="#collapseFieldPadding" name="PaddingSizeLeft" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseFieldMargin" aria-expanded="true" aria-controls="collapseFieldMargin">
                            <small class="font-weight-bold">Margin</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseFieldMargin" data-updates="input[name=FieldClass]" data-breakpoint="input[name=FieldMarginBreakpoint]">
                            <div class="card-body px-2 pt-2 pb-0">
                                <div class="form-group ">
                                    <div>
                                        <div class="btn-group btn-group-sm btn-group-toggle pb-2 w-100" data-toggle="buttons">
                                            <input type="radio" id="field-margin-responsive" class="btn-check" name="FieldMarginBreakpoint" value="" data-container="#collapseFieldMargin" autocomplete="off" checked title="Responsive" />
                                            <label for="field-margin-responsive" class="btn btn-outline-primary p-0">&nbsp;&nbsp;*&nbsp;&nbsp;</label>

                                            <input type="radio" id="field-margin-sm" class="btn-check" name="FieldMarginBreakpoint" value="-sm" data-container="#collapseFieldMargin" autocomplete="off" />
                                            <label for="field-margin-sm" class="btn btn-outline-primary p-0">&nbsp;SM&nbsp;</label>

                                            <input type="radio" id="field-margin-md" class="btn-check" name="FieldMarginBreakpoint" value="-md" data-container="#collapseFieldMargin" autocomplete="off" />
                                            <label for="field-margin-md" class="btn btn-outline-primary p-0">&nbsp;MD&nbsp;</label>

                                            <input type="radio" id="field-margin-lg" class="btn-check" name="FieldMarginBreakpoint" value="-lg" data-container="#collapseFieldMargin" autocomplete="off" />
                                            <label for="field-margin-lg" class="btn btn-outline-primary p-0">&nbsp;LG&nbsp;</label>

                                            <input type="radio" id="field-margin-xl" class="btn-check" name="FieldMarginBreakpoint" value="-xl" data-container="#collapseFieldMargin" autocomplete="off" />
                                            <label for="field-margin-xl" class="btn btn-outline-primary p-0">&nbsp;XL&nbsp;</label>

                                            <input type="radio" id="field-margin-xxl" class="btn-check" name="FieldMarginBreakpoint" value="-xxl" data-container="#collapseFieldMargin" autocomplete="off" />
                                            <label for="field-margin-xxl" class="btn btn-outline-primary p-0">&nbsp;XXL&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix mb-1">
                                    <button class="btn btn-sm float-start w-25 text-left btn-toggle-thumb" type="button" data-bs-toggle="collapse" data-hidecaret="right" data-showcaret="down" data-bs-target="#collapseFieldMarginExt" aria-expanded="false" aria-controls="collapseFieldMarginExt"><span class="fa fa-caret-right fa-fw"></span></button>
                                    <input type="range" class="form-range w-50 my-1 d-inline-block margin-m" value="-1" name="MarginSize" data-side="m" data-container="#collapseFieldMargin" min="-6" max="6">
                                    <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                </div>
                                <div class="collapse" id="collapseFieldMarginExt">
                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Top</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block margin-m" value="-1" data-side="mt" data-container="#collapseFieldMargin" name="MarginSizeTop" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Right</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block margin-m" value="-1" data-side="mr" data-container="#collapseFieldMargin" name="MarginSizeRight" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Bottom</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block margin-m" value="-1" data-side="mb" data-container="#collapseFieldMargin" name="MarginSizeBottom" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Left</label>
                                        <input type="range" class="form-range w-50 my-1 d-inline-block margin-m" value="-1" data-side="ml" data-container="#collapseFieldMargin" name="MarginSizeLeft" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="wrapperproperties-pane" class="tab-pane fade h-100 p-1" role="tabpanel" aria-labelledby="advproperties-tab">
                <div style="height: 1px; font-size: small;">
                    <div class="form-group common-card d-none mb-2 wrapper-class">
                        <label>Wrapper Class</label>
                        <input name="WrapperClass" type="text" class="form-control form-control-sm w-100"/>
                    </div>
                    <div class="card common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseColumnSpan" aria-expanded="true" aria-controls="collapseColumnSpan">
                            <small class="font-weight-bold">Column Span</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseColumnSpan" data-updates="input[name=WrapperClass]" data-breakpoint="input[name=WrapperColBreakpoint]">
                            <div class="card-body px-2 pt-2 pb-0">
                                <div class="">
                                    <label class="d-none">Column Span</label>
                                    <div>
                                        <div class="btn-group btn-group-sm btn-group-toggle pb-2 w-100" data-toggle="buttons">
	                                        <input type="radio" id="wrapperColBreakpoint-responsive" class="btn-check" name="WrapperColBreakpoint" value="col" data-container="#collapseColumnSpan" autocomplete="off" checked title="Responsive"/>
                                            <label for="wrapperColBreakpoint-responsive" class="btn btn-outline-primary p-0">&nbsp;&nbsp;*&nbsp;&nbsp;</label>

	                                        <input type="radio" id="wrapperColBreakpoint-sm" class="btn-check" name="WrapperColBreakpoint" value="col-sm" data-container="#collapseColumnSpan" autocomplete="off"/>
                                            <label for="wrapperColBreakpoint-sm" class="btn btn-outline-primary p-0">&nbsp;SM&nbsp;</label>
	                                        
	                                        <input type="radio" id="wrapperColBreakpoint-md" class="btn-check" name="WrapperColBreakpoint" value="col-md" data-container="#collapseColumnSpan" autocomplete="off"/>
                                            <label for="wrapperColBreakpoint-md" class="btn btn-outline-primary p-0">&nbsp;MD&nbsp;</label>
	                                        
	                                        <input type="radio" id="wrapperColBreakpoint-lg" class="btn-check" name="WrapperColBreakpoint" value="col-lg" data-container="#collapseColumnSpan" autocomplete="off"/>
	                                        <label for="wrapperColBreakpoint-lg" class="btn btn-outline-primary p-0">&nbsp;LG&nbsp;</label>
	                                        
	                                        <input type="radio" id="wrapperColBreakpoint-xl" class="btn-check" name="WrapperColBreakpoint" value="col-xl" data-container="#collapseColumnSpan" autocomplete="off"/>
	                                        <label for="wrapperColBreakpoint-xl" class="btn btn-outline-primary p-0">&nbsp;XL&nbsp;</label>

	                                        <input type="radio" id="wrapperColBreakpoint-xxl" class="btn-check" name="WrapperColBreakpoint" value="col-xxl" data-container="#collapseColumnSpan" autocomplete="off"/>
	                                        <label for="wrapperColBreakpoint-xxl" class="btn btn-outline-primary p-0">&nbsp;XXL&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix mb-1">
                                    <label class="d-none">Column Size</label>
                                    <input type="range" class="form-range w-75 my-1 d-inline-block" data-container="#collapseColumnSpan" value="-1" name="ColSize" min="-1" max="13">
                                    <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseWrapperPadding" aria-expanded="true" aria-controls="collapseWrapperPadding">
                            <small class="font-weight-bold">Padding</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseWrapperPadding" data-updates="input[name=WrapperClass]" data-breakpoint="input[name=WrapperPaddingBreakpoint]">
                            <div class="card-body px-2 pt-2 pb-0">
                                <div class="form-group ">
                                    <div>
                                        <div class="btn-group btn-group-sm btn-group-toggle pb-2 w-100" data-bs-toggle="buttons">
	                                        <input type="radio" class="btn-check" id="wrapperPaddingBreakpoint-responsive" name="WrapperPaddingBreakpoint" value="" autocomplete="off" data-container="#collapseWrapperPadding" checked title="Responsive"/>
                                            <label for="wrapperPaddingBreakpoint-responsive" class="btn btn-outline-primary p-0">&nbsp;&nbsp;*&nbsp;&nbsp;</label>

	                                        <input type="radio" class="btn-check" id="wrapperPaddingBreakpoint-sm" name="WrapperPaddingBreakpoint" value="-sm" data-container="#collapseWrapperPadding" autocomplete="off"/>
                                            <label for="wrapperPaddingBreakpoint-sm" class="btn btn-outline-primary p-0">&nbsp;SM&nbsp;</label>
	                                        
	                                        <input type="radio" class="btn-check" id="wrapperPaddingBreakpoint-md" name="WrapperPaddingBreakpoint" value="-md" data-container="#collapseWrapperPadding" autocomplete="off"/>
                                            <label for="wrapperPaddingBreakpoint-md" class="btn btn-outline-primary p-0">&nbsp;MD&nbsp;</label>
	                                        
	                                        <input type="radio" class="btn-check" id="wrapperPaddingBreakpoint-lg" name="WrapperPaddingBreakpoint" value="-lg" data-container="#collapseWrapperPadding" autocomplete="off"/>
	                                        <label for="wrapperPaddingBreakpoint-lg" class="btn btn-outline-primary p-0">&nbsp;LG&nbsp;</label>
	                                        
	                                        <input type="radio" class="btn-check" id="wrapperPaddingBreakpoint-xl" name="WrapperPaddingBreakpoint" value="-xl" data-container="#collapseWrapperPadding" autocomplete="off"/>
	                                        <label for="wrapperPaddingBreakpoint-xl" class="btn btn-outline-primary p-0">&nbsp;XL&nbsp;</label>

	                                        <input type="radio" class="btn-check" id="wrapperPaddingBreakpoint-xxl" name="WrapperPaddingBreakpoint" value="-xxl" data-container="#collapseWrapperPadding" autocomplete="off"/>
                                            <label for="wrapperPaddingBreakpoint-xxl" class="btn btn-outline-primary p-0">&nbsp;XXL&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix mb-1">
                                    <button class="btn btn-sm float-start w-25 text-left btn-toggle-thumb" type="button" data-bs-toggle="collapse" data-hidecaret="right" data-showcaret="down" data-bs-target="#collapseWrapperPaddingExt" aria-expanded="false" aria-controls="collapseWrapperPaddingExt"><span class="fa fa-caret-right fa-fw"></span></button>
                                    <input type="range" class="form-range w-50 py-2 d-inline-block padding-p" value="-1" name="PaddingSize" data-container="#collapseWrapperPadding" data-side="p" min="-1" max="6">
                                    <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                </div>
                                <div class="collapse" id="collapseWrapperPaddingExt">
                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Top</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block padding-pt padding-py padding-p" value="-1" data-container="#collapseWrapperPadding" data-side="pt" name="PaddingSizeTop" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Right</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block padding-pr padding-px padding-p" value="-1" data-container="#collapseWrapperPadding" data-side="pr" name="PaddingSizeRight" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Bottom</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block padding-pb padding-py padding-p" value="-1" data-container="#collapseWrapperPadding" data-side="pb" name="PaddingSizeBottom" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Left</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block padding-pl padding-px padding-p" value="-1" data-container="#collapseWrapperPadding" data-side="pl" name="PaddingSizeLeft" min="-1" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseWrapperMargin" aria-expanded="true" aria-controls="collapseWrapperMargin">
                            <small class="font-weight-bold">Margin</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseWrapperMargin" data-updates="input[name=WrapperClass]" data-breakpoint="input[name=WrapperMarginBreakpoint]">
                            <div class="card-body px-2 pt-2 pb-0">
                                <div class="form-group ">
                                    <div>
	                                    <div class="btn-group btn-group-sm btn-group-toggle pb-2 w-100" data-toggle="buttons">

		                                    <input type="radio" class="btn-check" id="wrapperMarginBreakpoint-responsive" name="WrapperMarginBreakpoint" value="" data-container="#collapseWrapperMargin" autocomplete="off" checked title="Responsive"/>
                                            <label for="wrapperMarginBreakpoint-responsive" class="btn btn-outline-primary p-0">&nbsp;&nbsp;*&nbsp;&nbsp;</label>

		                                    <input type="radio" class="btn-check" id="wrapperMarginBreakpoint-sm" name="WrapperMarginBreakpoint" value="-sm" data-container="#collapseWrapperMargin" autocomplete="off"/>
		                                    <label for="wrapperMarginBreakpoint-sm" class="btn btn-outline-primary p-0">&nbsp;SM&nbsp;</label>

		                                    <input type="radio" class="btn-check" id="wrapperMarginBreakpoint-md" name="WrapperMarginBreakpoint" value="-md" data-container="#collapseWrapperMargin" autocomplete="off"/>
		                                    <label for="wrapperMarginBreakpoint-md" class="btn btn-outline-primary p-0">&nbsp;MD&nbsp;</label>

		                                    <input type="radio" class="btn-check" id="wrapperMarginBreakpoint-lg" name="WrapperMarginBreakpoint" value="-lg" data-container="#collapseWrapperMargin" autocomplete="off"/>
                                            <label for="wrapperMarginBreakpoint-lg" class="btn btn-outline-primary p-0">&nbsp;LG&nbsp;</label>

		                                    <input type="radio" class="btn-check" id="wrapperMarginBreakpoint-xl" name="WrapperMarginBreakpoint" value="-xl" data-container="#collapseWrapperMargin" autocomplete="off"/>
                                            <label for="wrapperMarginBreakpoint-xl" class="btn btn-outline-primary p-0">&nbsp;XL&nbsp;</label>

		                                    <input type="radio" class="btn-check" id="wrapperMarginBreakpoint-xxl" name="WrapperMarginBreakpoint" value="-xxl" data-container="#collapseWrapperMargin" autocomplete="off"/>
		                                    <label for="wrapperMarginBreakpoint-xxl" class="btn btn-outline-primary p-0">&nbsp;XXL&nbsp;</label>
	                                    </div>
                                    </div>
                                </div>
                                <div class="clearfix mb-1">
                                    <button class="btn btn-sm float-start w-25 text-left btn-toggle-thumb" type="button" data-bs-toggle="collapse" data-hidecaret="right" data-showcaret="down" data-bs-target="#collapseMargin" aria-expanded="false" aria-controls="collapseMargin"><span class="fa fa-caret-right fa-fw"></span></button>
                                    <input type="range" class="form-range w-50 py-2 d-inline-block margin-m" value="-1" name="MarginSize" data-side="m" data-container="#collapseWrapperMargin" min="-6" max="6">
                                    <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                </div>
                                <div class="collapse" id="collapseMargin">
                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Top</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block margin-mt margin-my margin-m" value="-1" data-side="mt" data-container="#collapseWrapperMargin" name="MarginSizeTop" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Right</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block margin-mr margin-mx margin-m" value="-1" data-side="mr" data-container="#collapseWrapperMargin" name="MarginSizeRight" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Bottom</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block margin-mb margin-my margin-m" value="-1" data-side="mb" data-container="#collapseWrapperMargin" name="MarginSizeBottom" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>

                                    <div class="clearfix mb-1">
                                        <label class="form-control-plaintext float-start w-25">Left</label>
                                        <input type="range" class="form-range w-50 py-2 d-inline-block margin-ml margin-mx margin-m" value="-1" data-side="ml" data-container="#collapseWrapperMargin" name="MarginSizeLeft" min="-6" max="6">
                                        <div class="form-control form-control-sm w-20 p-1 range-value d-inline-block float-end"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseWrapperStart" aria-expanded="true" aria-controls="collapseWrapperStart">
                            <small class="font-weight-bold">Wrapper HTML Start</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseWrapperStart">
                            <div class="card-body p-2">
                                <div class="form-floating ">
	                                <textarea name="WrapperHtmlStart" class="form-control form-control-sm" style="height: 4.7rem;" placeholder=""></textarea>
	                                <label>HTML Code Snippet</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseWrapperEnd" aria-expanded="true" aria-controls="collapseWrapperEnd">
                            <small class="font-weight-bold">Wrapper HTML End</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseWrapperEnd">
                            <div class="card-body p-2">
                                <div class="form-floating ">
                                    <textarea name="WrapperHtmlEnd" class="form-control form-control-sm" style="height: 4.7rem;" placeholder=""></textarea>
                                    <label>HTML Code Snippet</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div id="properties-pane" class="tab-pane fade h-100 p-1" role="tabpanel" aria-labelledby="properties-tab">
                <div style="height: 1px; font-size: small;">
                    
                    <div class="card border common-card d-none mb-2">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseFieldData" aria-expanded="true" aria-controls="collapseFieldData">
                            <small class="font-weight-bold">Data for Field</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseFieldData">
                            <div class="card-body p-2">
                                <div class="form-floating input-group input-group-sm">
                                    <input id="fieldJsonData" type="text" name="FieldData" class="form-control form-control-sm" placeholder="{}" />
                                    <label for="fieldJsonData">JSON Data</label>
                                    <button class="btn btn-outline-secondary py-0 btn-field-data btn-sm" type="button"><span class="fa fa-ellipsis-h"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card border mb-2 button-card d-none">
                        <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseButtonEvents" aria-expanded="true" aria-controls="collapseButtonEvents">
                            <small class="font-weight-bold">Button Events</small>
                            <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
                        </div>
                        <div class="collapse show" id="collapseButtonEvents">
	                        <div class="form-floating card-body p-2">
		                        <div class="form-floating">
			                        <input name="buttonEventClick" class="form-control form-control-sm" placeholder=""/>
			                        <label>Run on Click</label>
		                        </div>
	                        </div>
                        </div>
                    </div>

	                <div class="card border mb-2 error-message-card d-none">
		                <div class="card-header bg-secondary text-light px-2 py-0 card-toggle-thumb" data-bs-toggle="collapse" data-hidecaret="left" data-showcaret="down" role="button" data-bs-target="#collapseErrorMessages" aria-expanded="true" aria-controls="collapseErrorMessages">
			                <small class="font-weight-bold">Error Messages</small>
			                <span class="fa fa-caret-down fa-fw mt-1 float-end"></span>
		                </div>
		                <div class="collapse show" id="collapseErrorMessages">
			                <div class="form-floating card-body p-2">
				                <div class="form-floating">
					                <table class="table table-bordered table-sm table-striped table-hover jlw-datatable jlw-datatable-fieldmessagetext" data-server-side="true" data-defer-loading="0" data-searching='false' data-ordering='false' data-paging="false" data-info="false" data-language='{"zeroRecords":"No Messages defined"}' width="100%">
						                <thead class="d-none">
						                <tr>
							                <td data-data="FieldKey">Field Key</td>
							                <td data-data="Language" data-visible="false" class="d-none">Language</td>
							                <td width="30" class="align-middle text-center"></td>
						                </tr>
						                </thead>
					                </table>
                                    @if (Model?.CanInsertErrorText ?? false)
                                    {
	                                    <div class="text-center">
		                                    <button type="button" class="btn btn-sm btn-outline-primary btn-add-errormessage"><span class="fa fa-plus"></span> Add Error Message</button>
	                                    </div>
                                    }
				                </div>
			                </div>
		                </div>
	                </div>

                   

                </div>
            </div>

        </div>
    </div>
</div>


